.app {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

.sidebar {
  width: 320px;
  background: #fff;
  padding: 12px;
  overflow: auto;
  border-right: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: black;
  /* font-style: italic; */
}

.sidebar input {
  /* position: fixed; */
  position: sticky;
  top: 0;

  /* background: #fff; */
  /* z-index: 10; */

  /* padding: 8px;
  border-bottom: 1px solid #eee; */

  height: 20px;
  width: 90%;
  padding: 8px;
  /* margin-bottom: 10px; */
}

.item {
  /* padding: 10px;
  border-bottom: 1px solid #45454a; */
  cursor: pointer;
}

.item:hover {
  background: #f5f5f5;
}

.my-tooltip {
  background: #8B0000 !important;
  color: white !important;
  /* font-size: large; */
  border-radius: 30px;
  padding: 4px 8px;
}


@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 40%;
    background: #fff;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: 0 -4px 12px rgba(0,0,0,0.2);
    z-index: 1000;

    overflow: auto;
    padding: 10px;
  }

  /* .item {
    padding: 12px;
    font-size: 14px;
  }

  .item b {
    font-size: 14px;
  }

  .item p {
    font-size: 12px;
  } */
}
